:root {
  /* @link https://utopia.fyi/generator-mk-ii?c=320,14,1.25,2880,18,1.5,5,2, */
  --step--2: clamp(0.56rem, 0.5675rem + -0.0375vw, 0.5rem);
  --step--1: clamp(0.7rem, 0.6938rem + 0.0313vw, 0.75rem);
  --step-0: clamp(0.875rem, 0.8438rem + 0.1563vw, 1.125rem);
  --step-1: clamp(1.0938rem, 1.0195rem + 0.3711vw, 1.6875rem);
  --step-2: clamp(1.3675rem, 1.222rem + 0.7273vw, 2.5313rem);
  --step-3: clamp(1.7088rem, 1.4477rem + 1.3051vw, 3.7969rem);
  --step-4: clamp(2.1363rem, 1.6913rem + 2.2246vw, 5.6956rem);
  --step-5: clamp(2.67rem, 1.9359rem + 3.6707vw, 8.5431rem);



  --leading: calc( var(--step-0) * 1.5 );



  /* GRID */
  --grid-template-columns: minmax(var(--leading), 1fr)
                           minmax(min-content, 90ch)
                           minmax(var(--leading), 1fr);



  /* COLOURS */
  --hue: 240;
  --saturation: 100%;
  --lightness: 15%;

  --primary: hsl( var(--hue), var(--saturation), var(--lightness) );
  --theme-color: hsl( var(--hue), var(--saturation), var(--lightness) );
  --surface: hsl(240, 10%, 98%);

  --gold: hsl(30, 65%, 72%);



  /* SCRIM */
  --scrim: to top,
           hsla(0, 0%, 0%, 1.000)  00.0%,
           hsla(0, 0%, 0%, 0.917)  05.3%,
           hsla(0, 0%, 0%, 0.834)  10.6%,
           hsla(0, 0%, 0%, 0.753)  15.9%,
           hsla(0, 0%, 0%, 0.672)  21.3%,
           hsla(0, 0%, 0%, 0.591)  26.8%,
           hsla(0, 0%, 0%, 0.511)  32.5%,
           hsla(0, 0%, 0%, 0.433)  38.4%,
           hsla(0, 0%, 0%, 0.357)  44.5%,
           hsla(0, 0%, 0%, 0.283)  50.9%,
           hsla(0, 0%, 0%, 0.213)  57.7%,
           hsla(0, 0%, 0%, 0.147)  65.0%,
           hsla(0, 0%, 0%, 0.089)  72.9%,
           hsla(0, 0%, 0%, 0.042)  81.4%,
           hsla(0, 0%, 0%, 0.011)  90.6%,
           hsla(0, 0%, 0%, 0.000) 100.0%;



  /* TYPEFACES */
  --body-text: Poppins, Rubik;
}





/***** LAYOUT BASICS *****/

html {
  height: 100%;
}

body {
  background-color: var(--surface);
  color: var(--primary);
  font-family: var(--body-text), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--step-0);
  font-weight: 300;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;

  height: 100%;
  block-size: 100%;

  margin: 0;
}

header,
footer {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  justify-content: end;

  padding-top: var(--leading);
  padding-bottom: var(--leading);
  padding-block: var(--leading);
}

  header > *,
  footer > * {
    grid-column: 2;
  }

main {}

  main section,
  main aside {
    display: grid;
    padding-top: var(--leading);
    padding-bottom: var(--leading);
    padding-block: var(--leading);
  }

  main section {
    grid-template-columns: var(--grid-template-columns);
    grid-template-columns: minmax(var(--leading), 1fr)
                           repeat( 6, minmax( min-content, 15ch ) )
                           minmax(var(--leading), 1fr);
  }

    main section > * {
      grid-column: 3 / -2;
    }

  main aside {
    grid-template-columns: var(--grid-template-columns);
    grid-template-columns: minmax(var(--leading), 1fr)
                           repeat( 2, minmax( min-content, 15ch ) )
                           minmax(var(--leading), 1fr);
  }

    main aside > * {
      grid-column: 3 / -2;
    }

@media and (max-width: 599px) {
  main section > *,
  main aside > * {
    grid-column: 2 / -2;
  }
}


/***** BODY TEXT *****/

p {
  font-size: var(--step-0);
  font-variant-ligatures: common-ligatures;
  hanging-punctuation: first;
  line-height: var(--leading);

  margin-top: 0;
  margin-bottom: var(--leading);
  margin-block-start: 0;
  margin-block-end: var(--leading);

  max-width: 75ch;
  max-inline-size: 75ch;
}

  p.lede {
    font-weight: 200;
    font-size: 1.2em;
    line-height: calc( var(--leading) * 1.2 );
  }

a {
  color: hsl( calc( var(--hue) - 120 ), var(--saturation), 37.5% );
  color: var(--gold);
  text-decoration: none;
  position: relative;
  font-weight: 500;
}

  /* a::before {
    background-color: hsl( calc( var(--hue) - 120 ), var(--saturation), 37.5% );
    content: '';

    height: 2px;
    block-size: 2px;

    width: 100%;
    inline-size: 100%;

    position: absolute;

    bottom: -1.25em;
    inset-block-end: -.125em;

    left: 0;
    inset-inline-start: 0;
  } */

  /* a:hover {
    color: var(--surface);
    transition: color 125ms ease-out 125ms;
  }

    a:hover::before {
      height: calc( 100% + .125em );
      transition: height 125ms ease-out;
    } */

address { font-style: normal; }

strong { font-weight: 500; }

em {}

small, figcaption, time {
  font-size: var(--step-0);
  font-variant-caps: all-small-caps;
  letter-spacing: .1em;
}

hr {
  background-color: var(--primary);
  border: none;
  border-radius: 50%;

  height: .25rem;
  block-size: .25rem;

  margin: var(--leading) auto calc( var(--leading) * 2 );
  margin-block: var(--leading) calc( var(--leading) * 2);

  opacity: .25;
  overflow: visible;
  position: relative;

  width: .25rem;
  inline-size: .25rem;
}

  hr::before,
  hr::after {
    background-color: var(--primary);
    border-radius: 50%;
    content: '';

    height: .25rem;
    block-size: .25rem;

    position: absolute;

    width: .25rem;
    inline-size: .25rem;
  }

  hr::before { left: -1rem; }
  hr::after { right: -1rem; }





/***** DISPLAY TEXT *****/

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Barlow Condensed'; */
  font-variant-ligatures: discretionary-ligatures;
  font-weight: 500;
  line-height: 1;

  margin-top: calc( var(--leading) *  2 );
  margin-block-start: calc( var(--leading) *  2 );

  margin-bottom: calc( var(--leading) *  1 );
  margin-block-end: calc( var(--leading) * 1 );
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 0;
  margin-block-start: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: calc( var(--leading) *  2 );
  margin-block-end: calc( var(--leading) * 2 );
  position: relative;
}

  /* h1::after,
  h2::after,
  h3::after {
    background-color: var(--primary);
    content: '';
    display: block;

    height: .125rem;
    block-size: .125rem;

    width: 1ch;
    inline-size: 1ch;

    position: absolute;

    bottom: 0;
    inset-block-end: 0;

    left: 0;
    inset-inline-start: 0;
  } */

h1 {
  font-size: var(--step-5);
  letter-spacing: -.03375em;
}

h2 {
  font-size: var(--step-4);
  letter-spacing: -.0225em;
}

h3 {
  font-size: var(--step-3);
  letter-spacing: -.015em;
}

h4 {
  font-size: var(--step-2);
  letter-spacing: -.01em;
}

h5 { font-size: var(--step-1); }

h6 { font-size: var(--step-0); }

blockquote {
  grid-column: 2 / -2 !important;

  font-size: var(--step-1);
  font-weight: 600;
  line-height: calc( var(--step-1) * 1.375 );

  margin: var(--leading) 0;
  margin-block: var(--leading);
  margin-inline: 0;

  padding: var(--leading) 0 calc( var(--leading) * 2);

  position: relative;
}

  /* blockquote::before,
  blockquote::after {
    content: '';
    display: block;

    height: 1ch;
    block-size: 1ch;

    width: 1ch;
    inline-size: 1ch;

    position: absolute;
  }

  blockquote::before {
    border-top: .125rem solid var(--primary);
    border-right: .125rem solid var(--primary);

    top: 0;
    inset-block-start: 0;

    right: 0;
    inset-inline-end: 0;
  }

  blockquote::after {
    border-bottom: .125rem solid var(--primary);
    border-left: .125rem solid var(--primary);

    bottom: 0;
    inset-block-end: 0;

    left: 0;
    inset-inline-start: 0;
  } */

  blockquote p {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
  }

    blockquote p::before {
      content: '“';
      left: -.5em;
      inset-inline-start: -.5em;
      position: absolute;
    }

    blockquote p::after { content: '”'; }





/***** LISTS *****/

dl, ol, ul {
  margin-top: 0;
  margin-bottom: var(--leading);
  margin-block-start: 0;
  margin-block-end: var(--leading);

  padding-left: 0;
}

  li { margin-bottom: calc( var(--leading) / 2 ); }

    li:last-of-type { margin-bottom: 0; }





/***** IMAGES *****/

figure {
  border-radius: .5rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
              0 6.7px 5.3px rgba(0, 0, 0, 0.028),
              0 12.5px 10px rgba(0, 0, 0, 0.035),
              0 22.3px 17.9px rgba(0, 0, 0, 0.042),
              0 41.8px 33.4px rgba(0, 0, 0, 0.05),
              0 100px 80px rgba(0, 0, 0, 0.07);
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  margin: 0;

  margin-top: var(--leading);
  margin-block-start: var(--leading);

  margin-bottom: calc( var(--leading) *  2 );
  margin-block-end: calc( var(--leading) *  2 );

  position: relative;
  overflow: hidden;
}

  figure.full-width {
    border-radius: 0;
    grid-column: 1 / -1;

    margin-left: auto;
    margin-right: auto;

    max-height: 720px;
    max-width: 1280px;
  }

  figure picture {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

    figure picture::after {
      display: block;
      content: '';
      background-color: transparent;
      background-image: linear-gradient(var(--scrim));
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    figure picture img {
      display: block;

      height: auto;
      block-size: auto;

      inline-size: 100%;
      width: 100%;

      object-fit: cover;
    }

    figure figcaption { /* typographic styles grouped with <small> */
      align-self: end;
      grid-column: 2;
      grid-row: -1;
      color: white;
      padding: var(--leading) 0;
      z-index: 1;
    }
