h1,
h2,
h3,
h4 {
  line-height: 1.2;
  font-family: var(--font);
  margin: 0;
}

ul {
  list-style: circle;
  padding-left: 0;
  margin: 0;
}

p,
li {
  font-family: var(--font-body);
  font-size: 1rem;
  margin: 0;
  max-width: 75ch;
}

a {
  color: inherit;
}

  a:focus,
  a:hover {
    color: var(--color-accent);
  }

address {
  font-style: normal;
}

time {
  font-style: italic;
}

code,
pre {
  font-family: 'Share Tech Mono', monospace;
  font-size: .8rem;
  white-space: pre-wrap;
}

.page__heading {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -.0375em;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

  .page__heading::after {
    content: '.';
    color: var(--color-accent);
  }

  .page__subheading {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: -.025em;
  }

    .page__subheading__highlight {
      color: var(--color-accent);
      font-weight: bold;
    }

@media (min-width: 900px) {

    .subsection__header {
      text-align: right;
    }

}
