h1,
h2,
h3,
h4 {
  font-family: var(--font);
  line-height: 1.2;
}

p,
li {
  font-family: var(--font-body);
  font-size: var(--text-0);
  max-width: 75ch;
}

a {
  color: inherit;
}

  a:focus,
  a:hover {
    color: var(--color-accent);
  }

time {
  font-style: italic;
}

.page__heading {
  font-size: var(--text-3);
  letter-spacing: -.0375em;
  margin-top: calc(var(--gap) * 4);
  margin-bottom: var(--gap);
}

  .page__heading::after {
    content: '.';
    color: var(--color-accent);
  }

  .page__subheading {
    font-size: var(--text-2);
    letter-spacing: -.025em;
  }
